html {
  text-align: center;
  font-family: Helvetica, sans-serif;

  background: url(images/bg_sm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { margin: 0; }
h1 {
  display:inline-block;
  margin-top: 12%;
  padding: 0 5px;

  color: white; // yellow
  font-size: 2em;
  font-weight: 200;

  background-color: black;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  padding: 0 5px 0 0;

  color: black;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  line-height: 130%;

  background-color: red;
}