body {
  margin: 60px auto;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #484848;

  width: 580px;
  font-size: 20px;
  line-height: 28px;
}

.avatar {
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

p {
  margin-top: 30px;
}


/* Mobile */
@media screen and (max-width: 580px) {
  body {
    margin: 10px auto;
    padding: 0 20px 0 20px;
    width: auto;
    word-wrap: break-word;
  }
}